<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hello.forum.menu.dao.MenuDao">

	<resultMap type="com.hello.forum.menu.dao.MenuDao" id="MenuVOMap"
			   autoMapping="true">
		<id column="ID" property="id" />
		<association property="memberVO"
					 javaType="com.hello.forum.member.vo.MemberVO">
			<id column="EMAIL" property="email" />
			<result column="NAME" property="name" />
		</association>
		
	</resultMap>
	
	
	<select id="selectAllMenu"
			resultType="com.hello.forum.menu.vo.MenuVO">
		SELECT MENU_ID
			 , MENU_NAME
			 , "ROLE"
			 , MENU_URL
			 , DEL_YN
			 , PARENT_MENU_ID
		FROM MENU
		 START WITH PARENT_MENU_ID IS NULL
		CONNECT BY PRIOR MENU_ID = PARENT_MENU_ID
	</select>
	
</mapper>